.topic-pic{
	max-width: 1200px;
}
.container {
	width: 1200px;
	padding:20px;
}
div.columns {
    float: left;
    padding-right: 20px;
    width: 380px;
}
img.pic{
	width: 100px;
	height: 100px;
	float: left;
	margin: 20px;
}
.description{
	max-width: 180px;
	float: left;
}